//Prefix to avoid conflicts with other Frameworks
$prefix-class: "flex-";

//Grid variables
$grid-columns: 12;
$grid-gutter-width: 16px;
$grid-outer-margin: 32px;

//Breakpoints
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

//Calculations
$container-sm: $screen-sm-min + $grid-gutter-width;
$container-md: $screen-md-min + $grid-gutter-width;
$container-lg: $screen-lg-min + $grid-gutter-width;
$gutter-compensation: ($grid-gutter-width / 2) * -1;
